*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 98%);
  --primary-color: hsl(80, 60%, 35%);
  --primary-color-lighter: hsl(80, 60%, 40%);
  --secondary-color: hsl(270, 65%, 50%);
  --announcement: hsl(190, 35%, 97%);
  --announcement-alt: hsl(0, 35%, 97%);
}

html {
  background-color: hsl(0, 0%, 11%);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.1em;
  background-color: var(--white);
  color: var(--black);
  min-height: 100dvh;
}

hr {
  display: block;
  border-color: var(--primary-color);
  margin: 1rem 0;
}

blockquote {
  margin: 0;
}

img {
  max-width: 100%;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 1;
}

nav ul,
footer ul {
  list-style: none;
  padding: 0;
  gap: 2rem;
}

nav ul ul {
  background-color: var(--black);
  padding-bottom: 1rem;
}

nav input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav label {
  padding: 6px 12px;
  color: var(--white);
  cursor: pointer;
}

nav label:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 0.5rem;
}

a {
  text-underline-offset: 0.2rem;
}

a:hover {
  text-decoration: underline !important;
}

table {
  border-radius: 0.2rem;
  border: 1px solid silver;
  padding: 0.15rem;
}

th,
td {
  padding: 0.5rem;
}

th {
  min-width: 160px;
  background-color: var(--primary-color);
  color: var(--white);
}

td {
  outline: 1px solid silver;
  outline-offset: -1px;
}

#nav-list {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 1.6rem 1.4rem;
  text-align: center;
}

#nav-list li:first-child {
  margin-right: auto;
}

#nav-list a {
  text-decoration: none;
  color: hsl(0, 0%, 93%);
  padding-inline: 1rem;
}

#nav-list a:hover {
  color: white;
}

#nav-list label:has(input:checked) + ul {
  display: none;
}

#nav-list > li > ul {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#nav-list > li > ul > li {
  margin-bottom: 0.5rem;
}

#nav-list img {
  max-height: 50px;
}

#logo a {
  padding-inline: 0;
}

#hamburger {
  display: none;
}

.content {
  width: min(1280px, 100%);
  margin-inline: auto;
  padding: 0 1.4rem;
}

.content a {
  color: var(--primary-color);
}

.content a:hover {
  color: var(--primary-color-lighter);
}

.primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-white {
  color: white;
}

.bg-black {
  background-color: var(--black);
}

.announcement {
  background-color: var(--announcement);
}

.announcement-alt {
  background-color: var(--announcement-alt);
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.no-underline {
  text-decoration: none;
}

.pull-left {
  float: left;
  margin: 0 1rem 0 0;
}

.pull-right {
  float: right;
  margin: 0 0 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.3%, auto));
  align-items: flex-end;
}

.cardify .cardify {
  margin: 1rem;
}

.cardify:not(.grid),
.grid.cardify > li {
  border-radius: 0.5rem;
  outline: 1px solid silver;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.shadow {
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.grid,
.grid > li > ul {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.grid table {
  width: initial;
}

.gcol-200px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.gcol-250px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.gcol-300px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.gcol-5 {
  grid-template-columns: repeat(auto-fit, minmax(20%, auto));
}

.gcol-4 {
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
}

.gcol-3 {
  grid-template-columns: repeat(auto-fit, minmax(33.3%, auto));
}

.gcol-2 {
  grid-template-columns: repeat(auto-fit, minmax(50%, auto));
}

.gcol-1 {
  grid-template-columns: repeat(auto-fit, minmax(100%, auto));
}

.gcol-6-4 {
  grid-template-columns: 6fr minmax(300px, 4fr);
}

.gcol-2-1 {
  grid-template-columns: 2fr minmax(300px, 1fr);
}

.grid ul {
  list-style-type: disc;
}

.grid > li {
  margin: 0.5rem;
}

.grid.subgrid > li {
  display: grid;
  grid-template-rows: subgrid;
}

.grid > li > ul {
  overflow-wrap: anywhere;
}

.grid > li > ul > li:not(:has(img)) {
  margin-inline: 0.5rem;
}

.grid > li > ul > li:has(img) {
  line-height: 0;
}

.grid img,
.img-span img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.img-cover img {
  object-fit: cover;
}

.img-contain img {
  object-fit: contain;
}

.img-scale-down img {
  object-fit: scale-down;
}

.img-position-bottom img {
  object-position: bottom;
}

.img-3-2 img {
  aspect-ratio: 3 / 2;
}

.img-2-3 img {
  aspect-ratio: 2 / 3;
}

.img-16-9 img {
  aspect-ratio: 16 / 9;
}
.img-9-16 img {
  aspect-ratio: 9 / 16;
}

.img-1-1 img {
  aspect-ratio: 1 / 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center-x {
  justify-content: center;
}

.center-x {
  margin-inline: auto;
}

.flex-center-y {
  align-items: center;
}

.center-y {
  margin-bottom: auto;
  margin-top: auto;
}

.flex-justify-x {
  justify-content: space-evenly;
}

.flex-apart-x {
  justify-content: space-between;
}

.flex-base-y {
  align-items: baseline;
}

.flex-top-y {
  align-items: flex-start;
}

.top-y {
  margin-bottom: auto;
}

.flex-bottom-y {
  align-items: flex-end;
}

.bottom-y {
  margin-top: auto;
}

.margin {
  margin: 1em;
}

.margin-alt {
  margin: 1em 1rem;
}

.margin-inline {
  margin-inline: 1rem;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.mz,
.mz > p {
  margin: 0;
}

.padding,
.grid .padding {
  padding: 1em;
}

.padding-alt,
.grid .padding-alt {
  padding: 0.5em 1em;
}

.padding-lg,
.grid .padding-lg {
  padding: 2em;
}

.padding-lg-alt,
.grid .padding-lg-alt {
  padding: 1em 2em;
}

.padding-list-sm,
.grid .padding-list-sm {
  padding: 1em 2.5em;
}

.padding-list-sm-alt,
.grid .padding-list-sm-alt {
  padding: 0.5em 2.5em;
}

.padding-list-lg,
.grid .padding-list-lg {
  padding: 2em 3.5em;
}

.padding-list-lg-alt,
.grid .padding-list-lg {
  padding: 1em 3.5em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-thin {
  font-weight: 300;
}

.text-bold {
  font-weight: 600;
}

.text-thick {
  font-weight: 700;
}

.text-normal {
  font-weight: 400;
}

.blockquote {
  margin: 1em 2.5rem;
}

.overflow-auto {
  overflow: auto;
}

.iframe-default {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 870px) {
  .grid {
    grid-template-columns: repeat(auto-fit, min(300px, 100%));
  }

  .gcol-2-1,
  .gcol-6-4 {
    grid-template-columns: 100%;
  }

  .gcol-2-1 > *:nth-child(2),
  .gcol-6-4 > *:nth-child(2) {
    width: min(300px, 100%);
    margin-inline: auto;
  }
}

@media screen and (max-width: 768px) {
  #nav-list {
    flex-wrap: wrap;
    gap: 1rem;
  }

  #nav-list > li:nth-child(n + 3) {
    width: 100%;
  }

  #nav-list > li > ul {
    padding-bottom: 0;
  }

  #hamburger {
    display: unset;
  }

  #hamburger:has(input:checked) ~ li {
    display: none;
  }

  .pull-left,
  .pull-right {
    float: none;
    margin-left: initial;
    margin-right: initial;
  }

  .pull-left:has(img),
  .pull-right:has(img) {
    text-align: center;
  }
}
