*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #1b3664;
  --secondary-color: #ed7d31;
  --white: #f6f1ee;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}

hr {
  display: block;
  border-color: var(--primary-color);
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  height: 3.3rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

nav ul ul {
  background-color: var(--primary-color);
  padding-bottom: 1rem;
}

nav input[type='checkbox'] {
  position: absolute;
  top: -100px;
  width: 0px;
}

nav label {
  padding: 2px 6px;
  color: var(--white);
  cursor: pointer;
}

nav label:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

#nav-list {
  display: flex;
  text-align: center;
  padding: 1rem 2rem;
}

#nav-list a {
  text-decoration: none;
  text-underline-offset: 4px;
  color: hsl(0, 0%, 93%);
  padding-inline: 1rem;
}

#nav-list a:hover {
  color: white;
  text-shadow: 0 0 2px gainsboro;
}

#nav-list label {
  padding-bottom: unset;
}

#nav-list label:has(input:checked) + ul {
  display: none;
}

#nav-list > li > ul {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#nav-list > li > ul > li {
  margin-bottom: 0.5rem;
}

#nav-list ul > li > a {
  text-decoration: underline;
}

#hamburger {
  display: none;
}

.content {
  width: min(960px, 100%);
  margin-inline: auto;
  padding: 0 2rem;
}

.primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.underline {
  text-decoration: underline;
}

.pull-left {
  float: left;
  margin-right: 1rem;
}

.pull-right {
  float: right;
  margin-left: 1rem;
}

.flex {
  display: flex;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}

.flex-justify-x {
  justify-content: space-evenly;
}

.flex-baseline-y {
  align-items: baseline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.3%, auto));
  /* gap: 1rem; */
  justify-content: center;
}

.gcol-200px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.gcol-250px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.gcol-300px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.gcol-5 {
  grid-template-columns: repeat(auto-fit, minmax(20%, auto));
}

.gcol-4 {
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
}

.gcol-3 {
  grid-template-columns: repeat(auto-fit, minmax(33.3%, auto));
}

.gcol-2 {
  grid-template-columns: repeat(auto-fit, minmax(50%, auto));
}

.gcol-1 {
  grid-template-columns: repeat(auto-fit, minmax(100%, auto));
}

.grid > li {
  display: grid;
  grid-template-rows: subgrid;
  margin: 0.5rem;
  overflow: hidden;
}

.cardify:not(.grid),
.grid.cardify > li {
  border-radius: 0.5rem;
  outline: 1px solid silver;
  box-shadow: 0 2px 5px gainsboro;
}

.grid > li > ul {
  overflow-wrap: anywhere;
}

.grid > li > ul > li:not(:has(img)) {
  margin-inline: 1rem;
}

.grid > li > ul > li:has(img) {
  line-height: 0;
}

.grid > li > ul > li:last-child:not(:has(img)) {
  margin-bottom: 1rem;
}

.grid,
.grid ul {
  padding: 0;
  list-style: none;
}

.grid img,
.img-span img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.img-cover img {
  object-fit: cover;
}

.img-contain img {
  object-fit: contain;
  object-position: bottom;
}

.img-3-2 img {
  aspect-ratio: 3 / 2;
}

.img-2-3 img {
  aspect-ratio: 2 / 3;
}

.img-16-9 img {
  aspect-ratio: 16 / 9;
}
.img-9-16 img {
  aspect-ratio: 9 / 16;
}

.img-1-1 img {
  aspect-ratio: 1 / 1;
}

.break-word {
  word-break: break-all;
}

@media screen and (max-width: 834px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    background-color: var(--primary-color);
  }

  #nav-list > li > ul {
    padding-bottom: 0;
  }

  #hamburger {
    display: unset;
  }

  #hamburger > li {
    padding: 1rem;
  }

  #hamburger:has(input:checked) ~ ul {
    display: none;
  }

  #nav-list {
    flex-wrap: wrap;
    gap: 1rem;
  }

  #nav-list > li {
    width: 100%;
  }

  .pull-left,
  .pull-right {
    float: none;
    margin-left: initial;
    margin-right: initial;
  }

  .pull-left:has(img),
  .pull-right:has(img) {
    text-align: center;
  }
}
