*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}

img {
  max-width: 100%;
}

nav {
  background-color: rgb(19, 19, 173);
  height: 3.3rem;
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

nav ul ul {
  background-color: rgb(19, 19, 173);
  padding-bottom: 1rem;
}

nav input[type='checkbox'] {
  position: absolute;
  top: -100px;
  width: 0px;
}

nav label {
  padding: 2px 6px;
  color: #eee;
  cursor: pointer;
}

nav label:hover {
  background-color: #eee;
  color: rgb(19, 19, 173);
}

#nav-list {
  display: flex;
  text-align: center;
  padding: 1rem 2rem;
}

#nav-list a {
  text-decoration: none;
  text-underline-offset: 4px;
  color: hsl(0, 0%, 93%);
  padding-inline: 1rem;
}

#nav-list a:hover {
  color: white;
  text-shadow: 0 0 2px gainsboro;
}

#nav-list label {
  /* border-bottom: 1px solid blue; */
  padding-bottom: unset;
}

#nav-list label:has(input:checked) + ul {
  display: none;
}

#nav-list > li > ul {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#nav-list > li > ul > li {
  margin-bottom: 0.5rem;
}

#nav-list ul > li > a {
  text-decoration: underline;
}

#hamburger {
  display: none;
}

#to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(19, 19, 173, 0.7);
  color: #eee;
  border-radius: 0.25rem;
  text-decoration: none;
}

#to-top:hover {
  background-color: rgba(19, 19, 173);
}

.content {
  width: min(1144px, 100%);
  margin-inline: auto;
  padding: 0 2rem;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(0, 255, 0);
}

.blue {
  color: rgb(0, 0, 255);
}

.underline {
  text-decoration: underline;
}

.pull-left {
  float: left;
  margin-right: 1rem;
}

.pull-right {
  float: right;
  margin-left: 1rem;
}

.flex {
  display: flex;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}

.flex-justify-x {
  justify-content: space-evenly;
}

.flex-baseline-y {
  align-items: baseline;
}

.grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.grid > li {
  padding: 1rem;
  display: grid;
  grid-template-rows: subgrid;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid silver;
  box-shadow: 0 2px 5px gainsboro;
}

.border-shadow {
  border: 1px solid silver;
  box-shadow: 0 2px 5px gainsboro;
}

.grid > li > ul {
  margin-bottom: 1rem;
}

.grid > li > ul > li:nth-child(n + 2) {
  margin-inline: 1rem;
}

.grid,
.grid ul {
  padding: 0;
  list-style: none;
}

.grid li {
  padding: 0 !important;
}

.grid img,
.img-span img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.img-cover img {
  object-fit: cover;
}

.img-contain img {
  object-fit: contain;
  object-position: bottom;
}

.img-3-2 img {
  aspect-ratio: 3 / 2;
}

.img-2-3 img {
  aspect-ratio: 2 / 3;
}

.img-16-9 img {
  aspect-ratio: 16 / 9;
}
.img-9-16 img {
  aspect-ratio: 9 / 16;
}

.img-1-1 img {
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 768px) {
  nav ul {
    background-color: rgb(19, 19, 173);
  }

  #nav-list > li > ul {
    padding-bottom: 0;
  }

  #hamburger {
    display: unset;
  }

  #hamburger > li {
    padding: 1rem;
  }

  #hamburger:has(input:checked) ~ ul {
    display: none;
  }

  #nav-list {
    flex-wrap: wrap;
    gap: 1rem;
  }

  #nav-list > li {
    width: 100%;
  }

  .pull-left,
  .pull-right {
    float: none;
    margin-left: initial;
    margin-right: initial;
  }

  .pull-left:has(img),
  .pull-right:has(img) {
    text-align: center;
  }
}
